@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-bottom: solid lightgray 1px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  z-index: 99999;
}
header section {
  display: flex;
  align-items: center;
  width: 70vw;
  height: inherit;
}
header section .logoContainer {
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 20vw;
  height: inherit;
  gap: 10px;
  cursor: pointer;
}
header section .logoContainer .logo {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  cursor: pointer;
}
header section .logoContainer .logoImg {
  height: 30%;
}
header section .menuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
header section .menuContainer * {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .mapContainer {
  border-radius: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}
main .mapContainer .mapLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
main .mapContainer .mapLoading img {
  height: 10%;
}
main .mapContainer .mapWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  position: relative;
}
main .mapContainer .mapWrapper .map {
  border-radius: 15px;
  min-width: 70%;
  background-color: #eee;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
main .mapContainer .mapWrapper .map .kakaoControl {
  margin: 10px 0 0 10px;
}
main .mapContainer .mapWrapper .map .goToMyLocation {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 20px;
  border-radius: 50px;
  z-index: 99999999;
  box-shadow: 5px 5px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .mapContainer .mapWrapper .map .goToMyLocation img {
  width: 50%;
  height: 50%;
}
main .mapContainer .mapWrapper .mapInfo {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  min-height: 30vh;
  gap: 20px;
  padding: 10px 0 10px 0;
}
main .mapContainer .mapWrapper .mapInfo .spot {
  width: 80%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  gap: 20px;
  padding: 20px;
}
main .mapContainer .mapWrapper .mapInfo .spot .spotInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .mapContainer .mapWrapper .mapInfo .spot .spotInfo .nameContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
main .mapContainer .mapWrapper .mapInfo .spot .spotInfo .nameContainer .name {
  font-size: 14pt;
  font-weight: bold;
}
main .mapContainer .mapWrapper .mapInfo .spot .goToSpot {
  width: 50px;
  min-width: 50px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mapContainer .mapWrapper .mapInfo .spot .goToSpot .spotNavigate {
  padding: 10px;
  background-color: #96b9ff;
  border-radius: 70px;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
main .mapContainer .mapWrapper .mapInfo .spot:hover {
  outline: solid 2px #96b9ff;
}

@media (max-width: 767px) {
  .infoContainer {
    width: 80vw;
  }

  .logo {
    visibility: hidden;
  }
}
@media (max-width: 1199px) {
  .mapWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .map {
    min-width: 100%;
    min-height: 40vh;
    height: 100%;
    background-color: #eee;
    margin-bottom: 3vh;
  }

  .mapInfo {
    padding-top: 5vh;
    min-height: 25vh;
  }
}