* {
    font-family: Pretendard;
}

html,
body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 0;

    .infoContainer {
        width: 600px;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 3px 15px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: scroll;

        .close {
            width: 100%;
            margin: 25px 50px 0 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }

        .image {
            width: 80%;

            img {
                width: 100%;
            }
        }

        .name {
            width: 80%;
            font-size: 15pt;
            font-weight: bold;
            word-break: break-all;
        }

        .label {
            width: 80%;
        }

        .efficacy {
            width: 80%;
        }

        .method {
            width: 80%;
        }
    }


}

.searchContainer {
    width: 50vw;
    min-width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .search {
        display: flex;
        justify-content: center;
        border: solid lightgray 1px;
        border-radius: 30px;
        padding-left: 1ch;
        width: 70%;
        height: 50px;

        input {
            width: 80%;
            border: none;
            border-radius: inherit;
            outline: none;
            font-size: 15px;
        }

        input::placeholder {
            color: #888888;
        }

        button {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            width: 15%;
            border: none;
            background-color: transparent;
        }

        img {
            width: 25px;
            height: 25px;
        }

    }

}

.count {
    width: 100vw;
    text-align: center;
    margin: 0 0 30px 0;
}


.pillContainer {
    min-width: 500px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;

    .loading {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        font-size: 24px;
        color: black;
        opacity: 0;
        background-color: white;
        z-index: -999;

        .loadingText,
        .loadingImg {
            width: 30px;
            position: fixed;
            left: calc(50% - 30px);
            top: 40%;
        }
    }

    .noSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        display: none;
        background-color: white;
    }

    .pill-item {
        padding: 20px;
        width: 150px;
        height: 120px;
        /* border: solid lightgray 1px; */
        border-radius: 20px;
        box-shadow: 1px 3px 15px lightgray;
        cursor: pointer;

        img {
            width: 100%;
            cursor: pointer;
            background-color: white;
        }

        .name {
            font-size: 12pt;
            font-weight: bold;
            width: 100%;
            height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;

            .name-text {
                width: 100%;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }



    .pageContainer {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        height: 200px;
        gap: 10px;

        .prevBtn {
            width: 39px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 60%;
                height: 60%;

            }
        }

        .nextBtn {
            width: 39px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 60%;
                height: 60%;

            }
        }

        .pageBtn {
            width: 40px;
            height: 40px;
            border: 1px solid lightgray;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;



        }

        .active {
            background-color: rgb(28, 192, 39);
            color: white;
            font-weight: bolder;
        }
    }
}


//기본으로 작성되는 CSS는 576px보다 작은 화면에서 작동 됩니다. 
// 가로모드 모바일 디바이스 (가로 해상도가 576px 보다 큰 화면에 적용) 
@media (min-width: 576px) {
    .pillContainer {
        width: 700px;
    }
}

// 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용) 
@media (min-width: 768px) {
    .pillContainer {
        // width: 500px;
    }
}

// 데스크탑 (가로 해상도가 992px 보다 큰 화면에 적용) 
@media (min-width: 992px) {
    .pillContainer {
        width: 1000px;
    }
}