* {
    font-family: Pretendard;
}

html,
body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-bottom: solid lightgray 1px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    z-index: 99999;

    section {
        display: flex;
        align-items: center;
        width: 70vw;
        height: inherit;

        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
            font-size: 15pt;
            font-weight: bold;
            cursor: pointer;
        }

        .menuOpen {
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }


}

aside {
    position: absolute;
    width: 100px;
    background-color: white;
    border-right: lightgray 1px solid;
    height: 100%;

    .menuOpen {
        width: 100%;
        height: 100px;
        background-color: transparent;
        border: none;
        border-bottom: lightgray 1px solid;
        cursor: pointer;

        img {
            width: 30%;
            height: 30%;
        }
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 0;

    .infoContainer {
        width: 50vw;
        min-width: 400px;
        height: 600px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 3px 15px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow: scroll;

        .close {
            width: 100%;
            margin: 25px 50px 0 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }

        .image {
            width: 80%;

            img {
                width: 100%;
            }
        }

        .nameContainer {


            width: 80%;
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;

            .company {
                margin-right: 8px;
                flex-shrink: 0;
                padding: 5px 10px;
                border-radius: 15px;
                background-color: lightcoral;
                color: white;
                /* pillType의 크기를 고정 */
            }

            .name {
                font-size: 15pt;
                font-weight: bold;
                word-break: break-all;
                margin-top: 2px;
            }


        }



        .label {
            width: 80%;
        }

        .efficacy {
            width: 80%;
        }

        .method {
            width: 80%;
            margin-bottom: 80px;
        }




    }
}

.infoContainer::-webkit-scrollbar {
    display: none;
}


.iconContainer {

    width: 80%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    opacity: 1;
    transition: all 0.7s ease;

    img {
        width: 200px;
        height: 200px;
        transition: all 0.7s ease;
        animation: float 3s ease-in-out infinite;
        /* 둥둥 떠다니는 애니메이션 */
        opacity: 1;
        /* 초기 불투명도 */
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
            /* 원래 위치 */
        }

        50% {
            transform: translateY(20px);
            /* 위로 20px */
        }

        100% {
            transform: translateY(0px);
            /* 원래 위치로 돌아옴 */
        }
    }


}

.searchContainer {
    margin-top: 10vh;
    width: 50vw;
    min-width: 400px;
    min-height: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;


    .search {
        display: flex;
        justify-content: center;
        border: solid lightgray 1px;
        border-radius: 30px;
        width: 70%;
        height: 50px;

        input {
            width: 70%;
            border: none;
            border-radius: inherit;
            outline: none;
            font-size: 12pt;
            margin-left: 10px;
        }

        input::placeholder {
            color: #888888;
        }

        button {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 15%;
            margin-right: 10px;
            border: none;
            background-color: transparent;
        }

        img {
            width: 25px;
            height: 25px;
        }

        select {
            border: none;
            border-radius: inherit;
            outline: none;
            padding: 0 10px 0px 15px;
            color: #888;
            font-size: 15px;
        }

    }

}

.count {
    justify-self: flex-start;
    width: 100vw;
    text-align: center;
    margin: 0 0 30px 20px;
}


.pillContainer {
    min-width: 400px;
    max-width: 1200px;
    width: 80%;
    height: 0vh;
    display: flex;
    // justify-content: space-evenly;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    margin: 0 auto;

    .loading {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        font-size: 24px;
        color: black;
        opacity: 0;
        background-color: white;
        z-index: -999;

        .loadingText,
        .loadingImg {
            width: 30px;
            position: fixed;
            left: calc(50% - 30px);
            top: 40%;
        }
    }

    .noSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        display: none;
        background-color: white;
    }


    .pill-item {
        padding: 20px;
        width: 150px;
        height: 120px;
        /* border: solid lightgray 1px; */
        border-radius: 20px;
        box-shadow: 1px 3px 15px lightgray;
        cursor: pointer;

        img {
            width: 100%;
            cursor: pointer;
            background-color: white;
        }

        .name {
            font-size: 12pt;
            font-weight: bold;
            width: 100%;
            height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;

            .name-text {
                width: 100%;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }



    .pageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        opacity: 0;

        .pageList {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 0 10px 0 10px;
        }

        .pageBtn,
        .nextBtn,
        .prevBtn {
            width: 40px;
            height: 40px;
            border: 1px solid lightgray;
            color: #888;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 50%;
            }
        }


        .active {
            background-color: rgb(150, 185, 255);
            color: white;
            font-weight: bolder;
        }
    }
}



// 기본 CSS를 작성합니다. 
// 기본으로 작성되는 CSS는 1199px보다 큰 화면에서 작동 됩니다.
// 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) 
@media (max-width: 575px) {
    .pillContainer {}



}

// 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용) 
@media (max-width: 767px) {}

// 태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용) 
@media (max-width: 991px) {
    .nameContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .count {
        margin: 3vh;
    }
}

// 데스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용)
@media (max-width: 1199px) {}