main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .mapContainer {
        border-radius: 15px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding: 50px;
        margin-top: 15vh;

        .mapLoading {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 15px;
            z-index: 9999999999;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;

            img {
                height: 10%;
            }
        }





        .mapWrapper {
            width: 100%;
            height: 70vh;
            display: flex;
            position: relative;



            .map {
                border-radius: 15px;
                min-width: 70%;
                background-color: #eee;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                .kakaoControl {
                    margin: 10px 0 0 10px;
                }

                .goToMyLocation {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    margin: 20px;
                    border-radius: 50px;
                    z-index: 99999999;
                    box-shadow: 5px 5px 10px gray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    img {
                        width: 50%;
                        height: 50%;
                    }
                }
            }

            .mapInfo {
                overflow: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 30%;
                min-height: 30vh;
                gap: 20px;
                padding: 10px 0 10px 0;

                .count {
                    margin: 20px 0 10px 0;
                }

                .spot {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 15px;
                    gap: 20px;
                    padding: 20px;


                    .spotInfo {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .nameContainer {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            .name {
                                font-size: 14pt;
                                font-weight: bold;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                max-width: 110px;
                            }


                        }

                        .addr {
                            word-break: keep-all;
                        }


                    }


                    .goToSpot {
                        width: 50px;
                        min-width: 50px;
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .spotNavigate {
                            padding: 10px;
                            background-color: #96b9ff;
                            border-radius: 70px;
                            width: 70%;
                            height: 70%;
                            cursor: pointer;
                        }
                    }


                }


                .spot:hover {
                    outline: solid 2px #96b9ff;
                }

                .moreMarker {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .moreBtn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 50px;
                        border: none;
                        background-color: transparent;
                        gap: 5px;

                        img {
                            height: 30%;
                        }
                    }
                }


            }

            .mapInfo::-webkit-scrollbar {
                display: none;
            }

        }


    }








}




// 기본 CSS를 작성합니다. 
// 기본으로 작성되는 CSS는 1199px보다 큰 화면에서 작동 됩니다.
// 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) 
@media (max-width: 575px) {}

// 가로모드 모바일 디바이스 (가로 해상도가 768px 보다 작은 화면에 적용) 
@media (max-width: 767px) {


    .infoContainer {
        width: 80vw;
    }


    .logo {
        visibility: hidden;
    }
}

// 태블릿 디바이스 (가로 해상도가 992px 보다 작은 화면에 적용) 
@media (max-width: 991px) {}

// 데스크탑 (가로 해상도가 1200px 보다 작은 화면에 적용)
@media (max-width: 1199px) {
    .mapWrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }


    .map {
        min-width: 100%;
        min-height: 40vh;
        height: 100%;
        background-color: #eee;
        margin-bottom: 3vh;


    }

    .mapInfo {
        padding-top: 5vh;
        min-height: 25vh;

    }


}